// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'fonts/fonts.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
  --orange: rgb(240,178,83);
  --sky-blue: rgb(122,199,219);
  --sky-blue-light: rgb(206,231,237);

  --accent-blue: rgb(74,145,150);
  --orange-1: rgb(234,160,76);
  --orange-2: rgb(232,145,71);
  --orange-3: rgb(230,129,64);
  --orange-4: rgb(226,113,62);
  --orange-5: rgb(223,100,56);
}

.logo {
  margin: 40px 0 0 40px;
  line-height: 70px;
  display: inline-block;

  >.k2 {
    color:$orange;
    font-family: 'Third Rail', sans-serif;
    font-size: 85px;
    font-weight: normal;
    margin-right: 7px;
    text-shadow: 1px 1px #666;
  }
  >.images {
    color: white;
    font-family: kallisto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 3px; //TODO convert to rems
  }
}


header {
  color: white;
  top: 0;
  background: linear-gradient(to right, $sky-blue, $sky-blue-light);
  margin: auto;
  width: 100%;
  //.logo {
  //  margin: 40px 0 0 40px;
  //  line-height: 70px;
  //  display: inline-block;
  //
  //  >.k2 {
  //    color:$orange;
  //    font-family: 'Third Rail', sans-serif;
  //    font-size: 85px;
  //    font-weight: normal;
  //    margin-right: 7px;
  //    text-shadow: 1px 1px #666;
  //  }
  //  >.images {
  //    color: white;
  //    font-family: kallisto, sans-serif;
  //    font-weight: 500;
  //    font-style: normal;
  //    font-size: 28px;
  //    letter-spacing: 3px; //TODO convert to rems
  //  }
  //}
  #links {
    line-height: 55px;
    display: inline-block;
    float: right;
    margin-top: 60px;

    // TODO get computed width of logo & links menu. If screen width is less then pass the media query
    @media (max-width: 709px) {
      margin-top: 0;
    }
    a {
      text-transform: uppercase;
      margin: 16px;
      color: $accent-blue;
    }
  }
}
body {
  background: $beige;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  main {
    flex: 1; // Assures height of page is at least full height so footer ends up at bottom
  }
}
footer {
  padding: 20px;
  font-size: 14px;
  color: $accent-blue;
  background: linear-gradient(to right, $sky-blue-light, $sky-blue);

  .icon {
    width: 15px;
    height: 15px;
    fill: $accent-blue;
  }
}

a, button {
  width: fit-content;
}
.icon {
  display: inline;
}
.indented-children {
  > * {
    display: block;
    margin-left: 1em;
  }
}
