$green: rgba(71,81,59,1);
$beige: #f0e4d5;//#f0e1ce;//#ebd4b7;
$red: #ad4707;

$orange: rgb(240,178,83);
$sky-blue: rgb(122,199,219);
$sky-blue-light: rgb(206,231,237);

$accent-blue: rgb(74,145,150);
$orange-1: rgb(234,160,76);
$orange-2: rgb(232,145,71);
$orange-3: rgb(230,129,64);
$orange-4: rgb(226,113,62);
$orange-5: rgb(223,100,56);
