@font-face {
    font-family: 'Third Rail';
    src: url('ThirdRail.woff2') format('woff2'),
        url('ThirdRail.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

